/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
  background-image: url("back.jpg");
}

header {
  text-align: center;
  padding: 20px;
  background-color: #6200ea;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 2rem;
}

button.toggle-mode {
  padding: 10px 20px;
  background-color: #3700b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.editor-container {
  display: flex;
  height: calc(100vh - 150px);
  justify-content: space-between;
}

.editor-panel {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 10px;
  gap: 10px;
}

.editor {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.editor-header {
  padding: 10px;
  background-color: #e0e0e0;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editor-header i {
  font-size: 1.5rem;
}

.editor-header span {
  font-size: 1.2rem;
  font-weight: 600;
}

.clear-btn {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

textarea {
  flex-grow: 1;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  border: none;
  padding: 15px;
  resize: none;
  border-radius: 0 0 8px 8px;
  outline: none;
}

textarea:focus {
  outline: none;
  border-color: #6200ea;
}

.output-panel {
  width: 60%;
  background-color: #333;
  border-radius: 8px;
  position: relative;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}

footer {
  padding: 10px;
  background-color: #6200ea;
  color: white;
  text-align: center;
  position: relative;
}

button.preview-btn {
  padding: 10px 20px;
  background-color: #03dac6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#save-status {
  margin-left: 20px;
  font-size: 0.9rem;
  color: lightgray;
}

.dark-mode {
  background-color: #222;
  color: #ddd;
}

.dark-mode .editor {
  background-color: #333;
  color: #ddd;
}

.dark-mode textarea {
  background-color: #444;
  color: #ddd;
}

.dark-mode .editor-header {
  background-color: #555;
}

.dark-mode header {
  background-color: #121212;
}
